version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hello_laravel_app
    ports:
      - "8000:8000"
    environment:
      - TZ=UTC
    restart: unless-stopped
    # Entry point will handle artisan commands & server
    command: docker-entrypoint.sh
