apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel-app
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: laravel-app
  template:
    metadata:
      labels:
        app: laravel-app
    spec:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
      containers:
        - name: laravel-app
          image: fmahmud26/laravel-app:latest
          ports:
            - containerPort: 80
          env:
            - name: APP_ENV
              value: production
            - name: APP_DEBUG
              value: "false"
            - name: APP_URL
              value: "http://localhost"
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
          volumeMounts:
            - mountPath: /var/www/html/database
              name: laravel-db
            - mountPath: /var/www/html/storage
              name: laravel-storage
            - mountPath: /var/www/html/bootstrap/cache
              name: laravel-cache
      volumes:
        - name: laravel-db
          emptyDir: {}
        - name: laravel-storage
          emptyDir: {}
        - name: laravel-cache
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: laravel-app
spec:
  selector:
    app: laravel-app
  ports:
    - protocol: TCP
      port: 80        # Public LB port
      targetPort: 80  # Container port
  type: LoadBalancer
