apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel-app
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: laravel-app
  template:
    metadata:
      labels:
        app: laravel-app
    spec:
      containers:
        - name: laravel-app
          image: fmahmud26/laravel-app:${IMAGE_TAG}
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: laravel-config
          # Optionally, override APP_URL dynamically via downward API
          env:
            - name: APP_URL
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
          volumeMounts:
            - mountPath: /var/www/html/database
              name: laravel-db
            - mountPath: /var/www/html/storage
              name: laravel-storage
            - mountPath: /var/www/html/bootstrap/cache
              name: laravel-cache
      volumes:
        - name: laravel-db
          emptyDir: {}
        - name: laravel-storage
          emptyDir: {}
        - name: laravel-cache
          emptyDir: {}
