apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: laravel-app
  template:
    metadata:
      labels:
        app: laravel-app
    spec:
      containers:
        - name: laravel-app
          image: fmahmud26/laravel-app:${IMAGE_TAG}
          ports:
            - containerPort: 8000
          env:
            - name: APP_KEY
              value: ""  # empty, docker-entrypoint.sh generates it
            - name: APP_NAME
              value: Laravel
            - name: APP_ENV
              value: local
            - name: APP_DEBUG
              value: "true"
            - name: APP_URL
              value: http://localhost
            - name: DB_CONNECTION
              value: sqlite
            - name: DB_DATABASE
              value: /var/www/html/database/database.sqlite
          volumeMounts:
            - name: app-storage
              mountPath: /var/www/html/storage
      volumes:
        - name: app-storage
          emptyDir: {}
