apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: laravel-app
  template:
    metadata:
      labels:
        app: laravel-app
    spec:
      containers:
        - name: laravel-app
          image: fmahmud26/laravel-app:${IMAGE_TAG}
          ports:
            - containerPort: 8000
          env:
            - name: APP_KEY
              value: ""  # empty, docker-entrypoint.sh generates it
          volumeMounts:
            - name: app-storage
              mountPath: /var/www/html/storage
      volumes:
        - name: app-storage
          emptyDir: {}
