# k8s/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel-app
  labels:
    app: laravel
spec:
  replicas: 2
  selector:
    matchLabels:
      app: laravel
  template:
    metadata:
      labels:
        app: laravel
    spec:
      containers:
        - name: laravel-app
          image: fmahmud26/laravel-app:latest
          ports:
            - containerPort: 80
          env:
            - name: APP_ENV
              value: "production"
            - name: APP_DEBUG
              value: "false"
            - name: DB_CONNECTION
              value: "sqlite"
            - name: DB_DATABASE
              value: "/var/www/database/database.sqlite"
            - name: PORT
              value: "80"
          volumeMounts:
            - name: storage-volume
              mountPath: /var/www/storage
            - name: database-volume
              mountPath: /var/www/database
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
      volumes:
        - name: storage-volume
          emptyDir: {}
        - name: database-volume
          emptyDir: {}
      imagePullSecrets:
        - name: dockerhub-secret