apiVersion: v1
kind: Service
metadata:
  name: laravel-service
  namespace: default
spec:
  selector:
    app: laravel-app
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
  type: LoadBalancer